.focus-area {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius;
  background: rgba(0,0,0,.6);
  backdrop-filter: blur(3px);
  padding: $gutter;

  > .text {
    font-size: $font-large;
    text-align: center;
  }
}