.image-list {
  list-style: none;
  margin: 0 0 $gutter;
  display: flex;
  gap: ($gutter / 2) ($gutter / 2);
  flex-wrap: wrap;

  &.-wide {
    max-width: calc(100vw - (#{$gutter} * 4));
    width: $width + 20rem;
    align-self: center;
  }

  &.-centered {
    justify-content: center;
  }

  > .item {
    // 1/4 - (gutter / 2) * (3 gutters / 4 images)
    width: calc(25% - (#{$gutter} / 2 * 3 / 4));
  }
}
