{{ define "main" }}
  <!-- <style>
    .image-link { display: flex; position: relative; height: 100%; }
    .image-link > .focus-text { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    .image-link:hover > .focus-text, .image-link:focus > .focus-text { opacity: 1; }
    
    .focus-text { border-radius: 5px; display: flex; flex-direction: column; justify-content: center; background: rgba(0,0,0,.5); backdrop-filter: blur(3px); opacity: 0; transition: .3s opacity linear; }
    .focus-text > .text { color: white; font-size: 2.4rem; padding: 3rem; width: 100%; text-align: center; }
  </style> -->

  <ul class="image-list -centered">
  {{ range .Pages -}}
    <li class="item">
        {{- $image := (index (.Resources.ByType "image") 0).Fill "500x500" -}}
        <a class="image-link" href="{{ .Permalink }}">
          <img src="{{ $image.RelPermalink }}" alt="">
          <span class="focus-area">
            <span class="text">{{ .Title }}</span>
          </span>
        </a>
    </li>
  {{- end }}
  </ul>
{{ end }}