{{ define "main" }}
  <ul class="image-list -centered">
  {{ range .Pages -}}
    <li class="item">
      {{- $resource := index (.Resources.ByType "image") 0 -}}
      {{- $image := $resource.Fill (printf "%s%s" "500x500 " $resource.Params.Anchor) -}}
      <a class="image-link" href="{{ .Permalink }}">
        <img src="{{ $image.RelPermalink }}" alt="">
        <span class="focus-area">
          <span class="text">{{ .Title }}</span>
        </span>
      </a>
    </li>
  {{- end }}
  </ul>
{{ end }}