@font-face {
  font-family: 'Roboto';
  // TODO: use local alternative first if possible
  // also do i need to include a separate typeface fr bold?
  src: url('/fonts/roboto-regular.ttf') format('truetype');
}

// FIXME: this should be configurable
// colors
$fg: #222;
$bg: #fff;
$accent: sienna;
$faded: lighten($fg, 40%);

// fonts
$font-stack: 'Roboto', sans-serif;
$font-small: 1.2rem;
$font-normal: 1.8rem;
$font-large: 2.4rem;
$line-height: 1.5;

// layouts & spacing
$width: 100rem;
$gutter: 3rem;
//  technically this detail shouldn't really live here because we don't /know/ that the header has
//  2x gutter padding, or a large font-size, but in practice this is true and there's nowhere else
//  to put it
$header-height: ($gutter * 2) + ($font-large * $line-height);

// other
$radius: 5px;
