<header class="nav-bar">
  <a class="skip-nav" href="#main">Skip to main content</a>

  <nav>
    <ul class="nav-list">
      <li class="nav-item -home"><a class="link" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></li>
      <li class="nav-item"><a class="link" href="{{ .Site.BaseURL }}/projects">Projects</a></li>
      <li class="nav-item"><a class="link" href="{{ .Site.BaseURL }}/publications">Publications</a></li>
      <li class="nav-item"><a class="link" href="{{ .Site.BaseURL }}/about">About</a></li>
    </ul>
  </nav>
</header>