.social-icon {
  color: $fg;

  &:hover,
  &:focus {
    color: $accent;
  }

  > .svg {
    height: $font-large;
    width: $font-large;
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }
}
